@font-face {
  font-family: "Helvetica neue";
  src: url("../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf");
}
body {
  padding: 3px;
  letter-spacing: 0.01em;
  font-weight: bold !important;
}

h4 {
  font-weight: bold !important;
}

h6 {
  font-weight: bold !important;
}

* {
  text-align: right;
  font: inherit;
  font-family: "Helvetica neue";
}

.navbar {
  background: transparent;
  /* background: #10768f; */
}
.navbar-toggler-icon {
  color: #10768f !important;
}

.navbar-toggler {
  color: #10768f !important;
}

.nav-link {
  font-size: 24px;
  font-weight: 400;
  line-height: 46px;
  /* color: #fefefe !important; */
  font-style: normal;
}

.nav-img {
  width: 40px;
  height: 40px;
  margin-left: 3px;
}

@media screen and (max-width: 992px) {
  .nav-img {
    width: 30px;
    height: 30px;
    margin-left: 3px;
  }
  #msg-count {
    position: absolute;
    top: -7px;
    left: 5px;
    background-color: red;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 10px;
    height: 10px;
    text-align: center;
  }
  #msg-count2 {
    position: absolute;
    top: -7px;
    left: 17px;
    background-color: red;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 10px;
    height: 10px;
    text-align: center;
  }
  #msg-count div {
    margin-top: -75%;
    margin-right: 30%;
    font-size: 12px;
  }
  #msg-count2 div {
    margin-top: -75%;
    margin-right: 30%;
    font-size: 12px;
  }
  .nav-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 0px;
    text-align: center;
    /* color: #fefefe !important; */
    font-style: normal;
  }
}

.box {
  position: relative;
  line-height: 50px;
}
#msg-count {
  position: absolute;
  top: -7px;
  left: 5px;
  background-color: red;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
}
#msg-count2 {
  position: absolute;
  top: -7px;
  left: 17px;
  background-color: red;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
}
#msg-count div {
  margin-top: -75%;
  margin-right: 30%;
  font-size: 12px;
}

#msg-count2 div {
  margin-top: -75%;
  margin-right: 30%;
  font-size: 12px;
}

.search-bar {
  background-image: url("../images/backgrounds/liquid-cheese.svg");
}

.btn-search {
  background: #10768f;
  text-align: right;
  width: max-content;
}

.btn-search-icon {
  color: white;
  font-size: 16px;
}

.search-icon {
  width: 30px;
  height: 30px;
}
.right {
  padding-left: 0;
}

.left {
  padding-right: 0;
}

input {
  text-align: right;
  line-height: 0.2px;
}

.carousel-icon {
  /* width: 25px; */
  height: 25px;
}

.carousel-button {
  background: #cfecf0;
  border: 2px solid #306f7e;
  /* width: 127px; */
}

.carousel-button-profile {
  background: transparent;
  border: 2px solid #306f7e;
  /* width: 127px; */
}

.active-button-category {
  background: #10768f !important;
  color: white !important;
}

.ad-img {
  height: 140px;
  width: 100%;
}

.ad-location {
  height: 40px;
  width: 40px;
}

.ad-title {
  color: #13748c;
}

.ad-owner {
  /* color: #1dbee5; */
  color: #4e92d5;
  font-style: normal;
  font-weight: 300;
}

.menu-img {
  width: 50px;
  height: 50px;
  background: transparent;
  /* border: 1px solid black; */
}

.menu-arrow {
  width: 20px;
  height: 20px;
}

.offcanvas {
  height: fit-content;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-text {
  line-height: 0;
}

.hl {
  border: 0.5px solid #cdcdcd9a;
  width: 82%;
  margin-right: 3%;
}

.hl2 {
  border: 0.5px solid #cdcdcd9a;
  width: 100%;
}

.hl3 {
  border: 2px solid #10768f;
  border-radius: 3px;
  /* width: 100%; */
}

.see_more {
  background: #306f7e;
  height: 40px;
  text-align: center;
  font-weight: 100;
  font-style: normal;
  font-size: small;
}

.ad-owner_card {
  background: #fcf5db;
}

.ad-owner_name {
  color: #4e92d4;
  font-size: 1.3rem;
  font-weight: bolder;
}
.ad-owner_img {
  width: 50px;
  height: 50px;
  background: #cdcdcd;
}

.ad-owner_badge {
  width: 25px;
  height: 20px;
  background: transparent;
}

.ad-owner_icon {
  width: 30px;
  height: 30px;
  background: transparent;
}

.ad-owner_button {
  color: black;
  border: 2px solid #306f7e;
  font-size: 17px;
  font-weight: bolder;
  width: 150px;
  height: 45px;
}

.profile-owner_button {
  color: black;
  border: 2px solid #306f7e;
  font-size: 16px;
  width: 128px;
}

.ad-area-text {
  font-size: 12px;
}

.ad-title {
  color: #167388;
  font-weight: 600;
  font-size: 22px;
}

.owl-dots {
  text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 2px 2px;
}
.owl-dots button.owl-dot.active span,
.owl-dots button.owl-dot:hover span {
  background-color: #164c78 !important;
  border-radius: 100%;
}
.owl-dots button.owl-dot {
  border: 0.5px solid #dddddd;
  background: white;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 1px rgb(105 105 105 / 62%);
  margin-inline: 5px !important;
  color: white;
}

.ad-properties {
  background: #fafafc;
}

.ad-properties_check {
  height: 50px;
  width: 50px;
}
.comment {
  border-bottom: 1px solid #9e9e9e;
}

.comments-outer-div {
  background: #f9f9f9;
  border: 1px solid #bebebe;
  border-radius: 15px;
}

.comment-img-guest {
  width: 30px;
}

.comment-name-guest {
  font-weight: bold;
  font-size: 18px;
}

.comment-time {
  font-weight: bolder;
  font-size: 12px;
}

.comment-text {
  color: #5f5f5f;
  font-size: 18px;
  text-align: start;
}

.comment-img-reply {
  width: 25px;
}

.comment-name-reply {
  font-weight: bolder;
  font-size: 16px;
}
.comment-owner-reply {
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 0, 0, 0.49);
}

.comment-text-reply {
  color: #5f5f5f;
  font-size: 16px;
  text-align: start;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.ad-similar-img {
  width: 100%;
  height: 100px;
}

.text-blue {
  color: #10768f;
}

.background-blue {
  background: #10768f;
}

.check-container {
  display: block;
  position: relative;
  /* padding-left: 35px;
    margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #10768f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 30%;
  height: 50%;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* .account-owner_name {
} */

.desc-div {
  background: #ebeff2;
}

.border-blue {
  border-color: #10768f !important;
}

.border-red {
  border-color: red !important;
}

.backgroud-light_blue {
  background: #eafff0;
}

.background-grey {
  background: #ebeff2;
}
.text-disabled {
  color: #c5c5c5 !important;
}

.form-control-radio-text {
  /* font-family: system-ui, sans-serif;
    font-size: 2rem; */
  /* font-weight: bold; */
  font-weight: normal;
  color: #5d5d5d;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control-radio-text + .form-control-radio-text {
  margin-top: 1em;
}

.form-control-radio-text:focus-within {
  color: var(--form-control-color);
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
  appearance: none;
  /* For iOS < 15 */
  background-color: #dde2e6;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  /* color: ; */
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #dde2e6;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #10768f;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
} */

.flag {
  width: 35px;
  height: 25px;
}

.text-light_blue {
  color: #60a1bf;
}
